GENERATE_SOURCEMAP=true
NODE_ENV=production
REACT_APP_FIREBASE={"apiKey":"...","authDomain":"...","projectId":"...","storageBucket":"...","messagingSenderId":"...","appId":"...","measurementId":"..."}
EMULATOR=false